*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: .05em;
}

form label {
  font-size: .8em;
}

.form-min-width {
  min-width: 300px;
}

.message-max-width {
  max-width: 300px;
}

.cursor-pointer {
  cursor: pointer;
}